<% include partials/header %>
    <h5 align="center">Speech to text converter in javaScript</h5>
    <div class="container">
        <div class="jumbotron" id="putAnswer"></div>
        <button class="btn btn-lg btn-primary" onclick="start();"><i class="fa fa-microphone"></i></button>  
    </div>    
    <form action="/" method="POST">
        <input id="putValue" name="inputString">
        <button type="submit" class="btn btn-primary btn-lg">submit</button>
    </form>
    <script type="text/javaScript">
        var writeAnswer = document.getElementById('putAnswer');
        var writeValue = document.getElementById('putValue');
        function start() 
        {
            alert('please enable microphone and start the process!!!');
            if('webkitSpeechRecognition' in window)
            {
				var speechRecognizer = new webkitSpeechRecognition();
				speechRecognizer.continuous = true;
				speechRecognizer.interimResults = true;
				speechRecognizer.lang = 'en-IN';
				speechRecognizer.start();

				var finalTranscripts = '';
				speechRecognizer.onresult = function(event){
                    var interimTranscripts = '';
                    for(var i = event.resultIndex; i < event.results.length; i++)
                    {
                        var transcript = event.results[i][0].transcript;
                        transcript.replace("\n", "<br>");
                        if(event.results[i].isFinal)
                        {
                            finalTranscripts += transcript;
                        }
                        else
                        {
                            interimTranscripts += transcript;
                        }
                    }
                    var msg = new SpeechSynthesisUtterance( transcript);
                        window.speechSynthesis.speak(msg);
                        //alert(finalTranscripts);
                    writeAnswer.innerHTML = finalTranscripts + '<span style="color:#999">' + interimTranscripts + '</span>';
                   
                    writeValue.value = finalTranscripts + interimTranscripts;
                };
                speechRecognizer.onerror = function (event) {
                        alert('enable microphone!!!');
					};
				}else{
					alert('Your browser is not supported. If google chrome, please upgrade!!!');
				}
            }
       
    </script>

<% include partials/footer %>